<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand">
    SwedDemo
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaccounts" routerLinkActive="active">All Accounts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/addaccount" routerLinkActive="active">Add Account</a>
      </li>
    </ul>
  </div>
</nav>
