<table id="accountsTable">
  <tr>
    <th>Account owner</th>
    <th>Account number</th>
    <th>Balance</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let data of dataSource.accountsList">
    <td>{{data.accountOwner}}</td>
    <td>{{data.accountNumber}}</td>
    <td>{{data.balance}} {{data.currency}}</td>
    <td>{{data.status}}</td>
  </tr>
</table>

