<form id="addAccount" [formGroup]="addAccountForm">
  <label>Account owner</label><input type="text" name="accountOwner" value="name" formControlName="accountOwner">
  <label>Currency</label>
  <select formControlName="currency">
    <option name="eur">EUR</option>
    <option name="gbp">GBP</option>
    <option name="usd">USD</option>
  </select>
  <br><input class="btn btn-primary" type="submit" value="Create" (click)="onSubmit()">
</form>
